[submodule "gmrender-resurrect"]
	path = gmrender-resurrect
	url = https://github.com/hzeller/gmrender-resurrect.git
[submodule "taocpp-json"]
	path = taocpp-json
	url = https://github.com/taocpp/json.git
[submodule "drumlin"]
	path = drumlin
	url = git@github.com:cephalicmarble/drumlin.git
